.head{
    text-align: right;
    padding-right: 5%;

}
.sl{
    padding-left:3%;
}
.fb{
    margin-left:3%;
    margin-right: 3%;
    background-color: rgba(119, 134, 132, 0.212);
    padding-bottom:2.5%;
}
.ft{
    margin-left:2%;
    background-color: rgba(119, 134, 132, 0.212);
    padding-bottom:2.5%;
    padding: 1%;
    align-content: center;
}
.fl{
    margin-left: 3%;
    background-color: rgba(240, 248, 255, 0);
    padding: 1%;
}